<table cellpadding="0" cellspacing="0">
  <tr class="top">
      <td colspan="4">
          <table>
              <tr>
                  <td class="title">
                      <img [src]="emojiSrc" width="100">
                  </td>

                  <td>
                      Invoice #: {{ invoice }}<br>
                      Created: {{ today | date }}<br>
                  </td>
              </tr>
          </table>
      </td>
  </tr>

  <tr class="information">
      <td colspan="4">
          <table>
              <tr>
                  <td [innerHtml]="address">
                      <!-- Emoji Web Design, Inc.<br>
                      12345 Sunny Road<br>
                      Sunnyville, TX 12345 -->
                  </td>

                  <td>

                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
